Port 555
AddressFamily inet

PermitRootLogin prohibit-password

#PermitRootLogin yes

#PasswordAuthentication no
ChallengeResponseAuthentication no

MaxAuthTries 4
MaxSessions 4

#AllowUsers soad@192.168.105.41
AllowUsers soad@192.168.6.66
AllowUsers administrator@192.168.100.122

UsePAM yes

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

### .. 172.16.1.0 .. ###

Port 555
AddressFamily inet

PermitRootLogin prohibit-password

ChallengeResponseAuthentication no

MaxAuthTries 3
MaxSessions 3

AllowUsers administrator@172.16.1.4

UsePAM yes

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

### .. 172.16.1.4 .. ###

Port 443
AddressFamily inet

PermitRootLogin yes
ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server